version: "3.9"
services:
  app:
    build: .
    volumes:
      - ..:/workspaces:cached
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
    ports:
      - "3306:3306"
  redis:
    image: redis:alpine
    restart: always
    ports:
      - "6379:6379"
